<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Projects</title>
    <link rel="stylesheet" href="/public/css/my-projects.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="sticky-top navbar navbar-expand-lg bg-body-tertiary shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            style="width: 50px"
            class="logo"
            src="/public/assets/logo.png"
            alt="Logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/my-projects">My Projects</a>
            </li>
          </ul>
          <div class="logout">
            <a href="/contact" class="btn btn-dark" type="button">Contact Me</a>
            <a
              href="/logout"
              class="btn btn-outline-danger"
              type="button"
            >logout</a>
          </div>
        </div>
      </div>
    </nav>

    {{! My Projects }}
    <section class="projects">

      <h1>My Projects</h1>
      <div class="container">
        {{#if projects.length}}
          {{#each projects}}
            <div class="card-container">
              <div class="card shadow-sm p-2" style="width: 18rem;">
                {{#if this.image}}
                  <img
                    src="{{this.image}}"
                    alt="{{this.name}}"
                    class="card-img mb-2"
                  />
                {{/if}}
                <div class="">
                  <a
                    href="/project-details/{{id}}"
                    class="project-name"
                  >{{this.name}}</a>
                  <h6 class="date text-secondary">{{formatDate this.start_date}}
                    -
                    {{formatDate this.end_date}}</h6>
                  <p class="description card-text">
                    {{this.description}}
                  </p>
                  <div class="technologies">
                    {{#each this.technologies}}
                      <img src="{{this}}" alt="{{this}}" />
                    {{/each}}
                  </div>
                  <form
                    action="/delete-project/{{this.id}}"
                    method="POST"
                    class="edit-delete"
                  >
                    <a
                      href="/edit-project/{{this.id}}"
                      class="btn btn-dark"
                    >Edit</a>
                    <button
                      type="submit"
                      class="btn btn-dark"
                      onclick="return confirm('Apakah Anda yakin ingin menghapus project ini?')"
                    >
                      <a>Delete</a>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          {{/each}}
        {{else}}
          <div class="empty">You don't have a project yet.
            <a class="btn btn-warning" href="/create-project">Create a Project</a>
          </div>
        {{/if}}
      </div>
      <div style="display: flex; gap: 10px; justify-content: center;">
        <a class="btn btn-outline-dark rounded-pill px-5" href="/">Back</a>
        <a
          class="btn btn-success rounded-pill px-5"
          href="/create-project"
        >Create Project</a>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>